<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  @description 컨텐츠 평가점수 mapper xml
  @author 김은애
  @since 2025-03-26

  수정일			수정자       수정내용
  =========     =======    =================================================
  2025-03-26	김은애		최초생성
-->
<mapper namespace="memo.scoore.mapper.ScoreMapper">
    <select id="reviewScoreAvg" parameterType="ScoreVO" resultType="java.lang.Double">
        SELECT
            TRUNC(AVG(SCORE::NUMERIC), 1)
        FROM SCORE
        WHERE CONTENTS_ID = #{contentsId}
    </select>

    <select id="myScore" parameterType="ScoreVO" resultType="java.lang.Double">
        SELECT
            SCORE
        FROM SCORE
        WHERE USR_ID = #{usrId} AND CONTENTS_ID = #{contentsId}
    </select>

    <insert id="myScoreSave" parameterType="ScoreVO">
        INSERT INTO SCORE
            (USR_ID, CONTENTS_ID, SCORE)
        VALUES (#{usrId}, #{contentsId}, #{score})
        ON CONFLICT (CONTENTS_ID, USR_ID)
        DO UPDATE
           SET
               SCORE = EXCLUDED.SCORE
    </insert>
</mapper>

