<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  @description 리뷰 mapper xml
  @author 김은애
  @since 2025-02-22

  수정일			수정자       수정내용
  =========     =======    =================================================
  2025-02-22	김은애		최초생성
-->
<mapper namespace="memo.review.mapper.ReviewMapper">

    <select id="reviewList" parameterType="ReviewVO" resultType="ReviewVO">
        SELECT
            *,
            (SELECT NAME FROM USR WHERE ID = REVIEW.USR_ID) AS usrName
        FROM REVIEW
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="contentsId != null and contentsId != ''">
                AND CONTENTS_ID = #{contentsId}
            </if>
            <if test="usrId != null and usrId != ''">
                AND USR_ID = #{usrId}
            </if>
        </trim>
        ORDER BY REVIEW_DATE DESC
    </select>

    <select id="reviewScore" parameterType="ReviewVO" resultType="java.lang.Double">
        SELECT
            TRUNC(AVG(SCORE::NUMERIC), 1)
        FROM REVIEW
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="contentsId != null and contentsId != ''">
                AND CONTENTS_ID = #{contentsId}
            </if>
            <if test="usrId != null and usrId != ''">
                AND USR_ID = #{usrId}
            </if>
        </trim>
    </select>

    <insert id="reviewSave" parameterType="ReviewVO">
        INSERT INTO REVIEW
            (USR_ID, CONTENTS_ID, SCORE, COMMENT, REVIEW_DATE)
        VALUES
            (#{usrId}, #{contentsId}, #{score}, #{comment}, now())
    </insert>

    <delete id="reviewDelete" parameterType="ReviewVO">
        DELETE FROM REVIEW
        WHERE ID = #{id}
    </delete>

    <update id="reviewUpdate" parameterType="ReviewVO">
        UPDATE
            REVIEW
        SET
            SCORE = #{score},
            COMMENT = #{comment},
            REVIEW_DATE = now()
        WHERE ID = #{id}
    </update>
</mapper>

