<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  @description 컨텐츠 mapper xml
  @author 김은애
  @since 2025-02-21

  수정일			수정자       수정내용
  =========     =======    =================================================
  2025-02-21	김은애		최초생성
-->
<mapper namespace="memo.contents.mapper.ContentsMapper">

    <select id="contentsList" parameterType="ContentsVO" resultType="ContentsVO">
        SELECT
            *,
            (SELECT COALESCE(TRUNC(AVG(SCORE::NUMERIC), 1), 0) FROM REVIEW WHERE CONTENTS_ID = C.ID) AS SCORE,
            (SELECT COUNT(*) FROM SEEN WHERE CONTENTS_ID = C.ID) AS seenCnt
        FROM CONTENTS C
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="categoryCode != null and categoryCode != ''">
                AND CATEGORY_CODE = #{categoryCode}
            </if>
            <if test="platformCode != null and platformCode != ''">
                AND PLATFORM_CODE = #{platformCode}
            </if>
            <if test="typeCode != null and typeCode != ''">
                AND TYPE_CODE = #{typeCode}
            </if>
            <if test="keyword != null and keyword != ''">
                AND TITLE LIKE CONCAT('%', #{keyword}, '%') OR AUTHOR LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </trim>
        ORDER BY SCORE DESC
        LIMIT 10
    </select>
</mapper>
