<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  @description 북마크 mapper xml
  @author 김은애
  @since 2025-03-02

  수정일			수정자       수정내용
  =========     =======    =================================================
  2025-03-02	김은애		최초생성
-->
<mapper namespace="memo.bookmark.mapper.BookmarkMapper">
    <select id="contentsBookmark" parameterType="BookmarkVO" resultType="ContentsVO">
        SELECT
            C.*,
            CASE
                WHEN (SELECT COUNT(*) FROM BOOKMARK WHERE CONTENTS_ID = C.ID AND USR_ID = #{usrId}) > 0 THEN TRUE
                ELSE FALSE
            END AS bookmark,
            CASE
                WHEN (SELECT COUNT(*) FROM LIKE_IT WHERE CONTENTS_ID = C.ID AND USR_ID = #{usrId}) > 0 THEN TRUE
                ELSE FALSE
            END AS likeIt,
            CASE
                WHEN (SELECT COUNT(*) FROM SEEN WHERE CONTENTS_ID = C.ID AND USR_ID = #{usrId}) > 0 THEN TRUE
                ELSE FALSE
            END AS seen
        FROM CONTENTS C
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="contentsId != null and contentsId != ''">
                ID = #{contentsId}
            </if>
        </trim>
    </select>

    <select id="bookmarkList" parameterType="BookmarkVO" resultType="ContentsVO">
        SELECT
            C.*
        FROM CONTENTS C, BOOKMARK T
        WHERE C.ID = T.CONTENTS_ID
            AND T.USR_ID = #{usrId}
    </select>

    <select id="likeItList" parameterType="BookmarkVO" resultType="ContentsVO">
        SELECT
            C.*
        FROM CONTENTS C, LIKE_IT T
        WHERE C.ID = T.CONTENTS_ID
          AND T.USR_ID = #{usrId}
    </select>

    <select id="seenList" parameterType="BookmarkVO" resultType="ContentsVO">
        SELECT
            C.*
        FROM CONTENTS C, SEEN T
        WHERE C.ID = T.CONTENTS_ID
          AND T.USR_ID = #{usrId}
    </select>

    <select id="getMaxSeqForUpdate" resultType="Integer">
        SELECT seq
        FROM bookmark
        WHERE usr_id = #{usrId}
        ORDER BY seq DESC
        LIMIT 1
            FOR UPDATE
    </select>

    <insert id="bookmark" parameterType="BookmarkVO">
        INSERT INTO BOOKMARK
            (CONTENTS_ID, USR_ID, SEQ)
        VALUES (#{contentsId}, #{usrId}, #{seq})
    </insert>

    <insert id="bookmarkSeen" parameterType="BookmarkVO">
        INSERT INTO SEEN
            (CONTENTS_ID, USR_ID)
        VALUES (#{contentsId}, #{usrId})
    </insert>

    <insert id="bookmarkLikeIt" parameterType="BookmarkVO">
        INSERT INTO LIKE_IT
            (CONTENTS_ID, USR_ID)
        VALUES (#{contentsId}, #{usrId})
    </insert>

    <delete id="bookmarkDel" parameterType="BookmarkVO">
        DELETE
        FROM BOOKMARK
        WHERE
            CONTENTS_ID = #{contentsId}
            AND USR_ID = #{usrId}
    </delete>

    <delete id="bookmarkSeenDel" parameterType="BookmarkVO">
        DELETE
        FROM SEEN
        WHERE
            CONTENTS_ID = #{contentsId}
          AND USR_ID = #{usrId}
    </delete>

    <delete id="bookmarkLikeItDel" parameterType="BookmarkVO">
        DELETE
        FROM LIKE_IT
        WHERE
            CONTENTS_ID = #{contentsId}
          AND USR_ID = #{usrId}
    </delete>

    <select id="bookmarkViewCnt" parameterType="BookmarkVO" resultType="Integer">
        SELECT
            COUNT(*)
        FROM SEEN
        WHERE CONTENTS_ID = #{contentsId}
    </select>
</mapper>
