<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
  @description 북마크 mapper xml
  @author 김은애
  @since 2025-03-02

  수정일			수정자       수정내용
  =========     =======    =================================================
  2025-03-02	김은애		최초생성
-->
<mapper namespace="memo.bookmark.mapper.BookmarkMapper">
    <select id="bookmarkList" parameterType="BookmarkVO" resultType="ContentsVO">
        SELECT
        C.*,
        B.BOOKMARK,
        B.LIKE_IT,
        B.SEEN
        FROM BOOKMARK B, CONTENTS C
        <trim prefix="WHERE" prefixOverrides="AND">
            B.CONTENTS_ID = C.ID
            <if test="contentsId != null and contentsId != ''">
                AND CONTENTS_ID = #{contentsId}
            </if>
            <if test="usrId != null and usrId != ''">
                AND B.USR_ID = #{usrId}
            </if>
            <if test="likeIt == true">
                AND LIKE_IT = TRUE
            </if>
            <if test="seen == true">
                AND SEEN = TRUE
            </if>
            <if test="bookmark == true">
                AND BOOKMARK = TRUE
            </if>
        </trim>
    </select>

    <insert id="bookmark" parameterType="BookmarkVO">
        INSERT INTO BOOKMARK
            (CONTENTS_ID, USR_ID, BOOKMARK)
        VALUES (#{contentsId}, #{usrId}, #{bookmark})
        ON CONFLICT (CONTENTS_ID, USR_ID)
            DO UPDATE
            SET
                BOOKMARK = EXCLUDED.BOOKMARK
    </insert>

    <insert id="bookmarkSeen" parameterType="BookmarkVO">
        INSERT INTO BOOKMARK
            (CONTENTS_ID, USR_ID, SEEN)
        VALUES (#{contentsId}, #{usrId}, #{seen})
        ON CONFLICT (CONTENTS_ID, USR_ID)
            DO UPDATE
            SET
                SEEN = EXCLUDED.SEEN
    </insert>

    <insert id="bookmarkLikeIt" parameterType="BookmarkVO">
        INSERT INTO BOOKMARK
            (CONTENTS_ID, USR_ID, LIKE_IT)
        VALUES (#{contentsId}, #{usrId}, #{likeIt})
        ON CONFLICT (CONTENTS_ID, USR_ID)
            DO UPDATE
            SET
                LIKE_IT = EXCLUDED.LIKE_IT
    </insert>

    <select id="bookmarkViewCnt" parameterType="BookmarkVO" resultType="Integer">
        SELECT
            COUNT(*)
        FROM BOOKMARK
        WHERE CONTENTS_ID = #{contentsId}
            AND SEEN = TRUE
    </select>
</mapper>
